img.photo-artist {
    object-fit: cover; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

img.photo-image {
    object-fit: cover; 
    width: 310px;

    height: auto; /* mantiene proporción */
}

#elemento {
    background-color:darksalmon;
    margin-top: 1%;
    margin-bottom: 1%;
}

span {
    font-style: italic;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
}

.clickable {
    cursor: pointer;
}

nav.navbar {
    background-color: darksalmon;
}

.navbar .navbar-brand {
    color: black !important;
    font-style: italic;
}

.navbar .nav-link {
    color: black !important;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: white !important;
}

div.header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: darksalmon;
}

div.footer {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(135, 130, 129);
}

.dept-group {
    font-size: 150%;
}

.dept-group .badge {
    margin-left: 5px;
}

#title {
    font-size: 300%;
    text-decoration: none;
    color:aliceblue;
    font-family: sans-serif;
    margin-bottom: 0;
}

#subtitle {
    font-size: 120%;
    font-style: italic;
    color: aliceblue;
    font-family: monospace;
}

#thanks {
    font-size: 100%;
    font-style: italic;
    color: rgb(29, 31, 32);
    font-family: monospace;
}

div.collapse-navbar-collapse {
    text-align: right;
    font-style: italic;
}

h2 {
    font-style: italic;
    text-align: justify;
    color: rgb(29, 31, 32);
    size: 50px;
    text-decoration: none; /* Quita el subrayado */
}

p {
    font-style: italic;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
}