.clickable {
    cursor: pointer;
}

nav.navbar {
    background-color: darksalmon;
}

.navbar .navbar-brand {
    color: black !important;
    font-style: italic;
}

.navbar .nav-link {
    color: black !important;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: white !important;
}

div.header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: darksalmon;
}

span {
    color: red;
}

.dept-group {
    font-size: 150%;
}

.dept-group .badge {
    margin-left: 5px;
}

#title {
    font-size: 300%;
    text-decoration: none;
    color:aliceblue;
    font-family: sans-serif;
    margin-bottom: 0;
}

#subtitle {
    font-size: 120%;
    font-style: italic;
    color: aliceblue;
    font-family: monospace;
}

footer {
    background-color: #333333;
}

span.footer-text {
    margin-left: 1%;
    margin-bottom: 2%;
    font-style: italic;
}

div.collapse-navbar-collapse {
    text-align: right;
    font-style: italic;
}